.right-align{
   float: right;
   margin-right: 20px; 
}

.left-align{
    float: left;
    margin-right: 20px; 
 }

 .modal-header{
    background-color: #f9764ef1;
    color: white;
    opacity: 60%;
 }

.button  {
    width: 140px;
    height: 40px;
    border-radius: 9px;
    border: none;
    color: white;
    background-color: #f9764ef1;
}

.button-secondary  {
    width: 140px;
    height: 40px;
    border-radius: 9px;
    border: none;
    color: white;
    background-color: #f9764e91;
}