.theme-color {
    color: #c13d15;
}

.button  {
    width: 120px;
    height: 40px;
    background-color: #c13d15;
    color: white;
    border-radius: 10px;
    border: none;
}

.right-align{
   float: right;
   margin-right: 20px; 
}

.left-align{
    float: left;
    margin-right: 20px; 
 }

 .modal-header{
    background-color: #c13d15;
    color: white;
    opacity: 60%;
 }